@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    /* outline: 1px solid green; */
}

header {
    width: 100%;
    background-color: #FEFAE0;
    height: 100px;
    top: 0;
    position: fixed;

    #header {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            color: #0A400C;
            text-transform: uppercase;
            font-size: 40px;
        }

        i {
            font-size: 36px;
            color: #B22222;
            cursor: pointer;
            transition: all 0.2s ease;
            position: relative;

            .basket-count {
                position: absolute;
                top: -15px;
                right: -10px;
                background-color: #b22222;
                color: white;
                font-size: 14px;
                font-weight: bold;
                border-radius: 50%;
                padding: 4px 8px;
                text-align: center;
            }
        }

        i:hover {
            transform: scale(1.2);
            color: #8B0000;
        }
    }
}

main {
    margin-top: 100px;

    #books {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px 10px;

        .book {
            width: calc((100% - 90px)/4);
            border-radius: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            cursor: pointer;

            .book-img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: contain;
                padding: 10px;
            }

            .book-content {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .book-title {
                    font-size: 18px;
                    font-weight: 600;
                    color: #5e0000;
                }

                .book-price {
                    font-size: 20px;
                    font-weight: bold;
                    color: #347433;
                }

                .description {
                    font-size: 12px;
                    color: #54585f;
                }

                .btn {
                    align-self: flex-end;
                    background-color: #E83F25;
                    color: white;
                    border: none;
                    border-radius: 8px;
                    padding: 10px 30px;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    transition: all 0.2s ease;
                }

                .btn:hover {
                    background-color: #FC4100;
                    transform: scale(1.05);
                }
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 999;
        transition: all 0.3s ease;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .close-btn {
            font-size: 28px;
            color: #333;
            padding: 5px;
            position: absolute;
            right: 20px;
            top: 10px;
            cursor: pointer;
        }

        .filter-content {
            margin-top: 10px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .filter-heading {
                font-size: 24px;
                color: #B22222;
                border-bottom: 1px solid #ddd;
                text-transform: uppercase;
            }

            .filter-group {
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    font-size: 16px;
                    color: #333;
                }

                select {
                    padding: 10px;
                    border-radius: 6px;
                    border: 1px solid #ccc;
                    font-size: 16px;
                    background-color: #fff;
                    color: #333;
                    outline: none;
                }
            }

            .reset-btn {
                margin-top: auto;
                background-color: #347433;
                color: white;
                border: none;
                padding: 10px;
                border-radius: 8px;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease;
            }

            .reset-btn:hover {
                background-color: #2a5e2a;
            }
        }
    }

    .overlay .close-btn {
        transition: all .8s ease;
    }

    .overlay .close-btn:hover {
        transform: rotate(360deg);
        color: #b22222;
    }

    .filter-panel {
        width: 250px;
        left: 0;
        transform: translateX(-100%);
        display: flex;
        justify-content: flex-start;

        #filter-title {
            padding: 0 30px;
            line-height: 2;
            font-size: 24px;
            color: #bbbbbb;
        }
    }

    .basket-panel {
        padding-top: 50px;
        width: 30%;
        right: 0;
        transform: translateX(100%);

        #products {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            overflow: auto;

            .product {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                border-radius: 10px;
                padding: 0 10px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

                .product-img {
                    width: 100px;
                    height: auto;
                    object-fit: cover;
                    border-radius: 8px;
                }

                span {
                    align-self: center;
                    color: #0A400C;
                    font-size: 28px;
                    margin-right: 10px;
                }

                .product-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    gap: 10px;

                    h4 {
                        color: #B22222;
                        font-size: 20px;
                    }

                    h5 {
                        color: rgb(87, 95, 103);
                    }

                    .quantity-control {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        button {
                            width: 25px;
                            height: 25px;
                            border: none;
                            background-color: #eee;
                            border-radius: 50%;
                            font-size: 16px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .basket-summary {
            padding: 20px;
            border-top: 1px solid #ccc;
            background: #f9f9f9;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .summary-line {
                display: flex;
                justify-content: space-between;
                font-size: 18px;
            }

            .summary-line.total {
                font-weight: bold;
                font-size: 20px;
            }

            .basket-actions {
                display: flex;
                justify-content: space-between;
                margin-top: 25px;

                .confirm-btn,
                .clear-btn {
                    padding: 10px 30px;
                    border: none;
                    cursor: pointer;
                    font-weight: bold;
                    border-radius: 6px;
                }

                .confirm-btn {
                    background-color: #4caf50;
                    color: white;
                }

                .clear-btn {
                    background-color: #f44336;
                    color: white;
                }
            }
        }
    }

    .overlay.active {
        transform: translateX(0);
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 99;
        display: none;
        backdrop-filter: blur(1px);
    }

    .backdrop.active {
        display: block;
    }
}

.follow-orders-icon {
    position: fixed;
    bottom: 30px;
    right: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    padding: 12px 16px;
    font-size: 24px;
    cursor: pointer;
    z-index: 88;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;

    &:hover {
        background-color: #388E3C;
    }
}

.orders-panel {
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    z-index: 999;
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    pointer-events: none;
    overflow: auto;

    .orders-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: #0A400C;
            font-size: 28px;
        }

        .close-orders {
            font-size: 24px;
            color: #333;
            cursor: pointer;
            transition: 1s;

            &:hover {
                transform: rotate(360deg);
                color: #b22222;
            }
        }
    }

    #ordersTable {
        width: 100%;
        border-collapse: collapse;
        margin-top: 25px;

        th,
        td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #f9f9f9;
        }
    }
}

.orders-panel.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: auto;
}

.order-title {
    color: #8B0000;
    font-weight: bold;
}

.order-status {
    color: #2E8B57;
    font-weight: bold;
}

.basket-panel #products {
    scrollbar-width: thin;
    scrollbar-color: #347433 transparent;
}

.basket-panel #products::-webkit-scrollbar {
    width: 5px;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    max-width: 1320px;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (max-width:1399.98px) {
    main {
        .basket-panel {
            width: 30%;
        }
    }

    .container {
        max-width: 1140px;
    }
}

@media (max-width:1199.98px) {
    main {
        #books {
            gap: 30px;

            .book {
                width: calc((100% - 90px)/4);
            }
        }

        .basket-panel {
            width: 40%;
        }
    }

    .container {
        max-width: 960px;
    }
}

@media (max-width:991.98px) {
    main {
        #books {
            gap: 20px;

            .book {
                width: calc((100% - 40px)/3);
            }
        }

        .basket-panel {
            width: 50%;
        }
    }

    .container {
        max-width: 720px;
    }
}

@media (max-width:767.98px) {
    main {
        #books {
            gap: 20px;

            .book {
                width: calc((100% - 40px)/2);
            }
        }

        .basket-panel {
            width: 70%;
        }
    }

    .container {
        max-width: 540px;
    }
}

@media (max-width:575.98px) {
    main {
        #books {
            gap: 15px;

            .book {
                width: calc((100% - 15px)/2);
            }
        }

        .basket-panel {
            width: 100%;
        }
    }

    .container {
        max-width: 100%;
    }
}